/* Add CSS for the Contact Section */
.contact-section-wrapper {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-section-top {
  max-width: 700px; /* Adjust the max-width as needed */
}

.contact-section-top h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

.contact-section-top p {
  max-width: 500px; /* Adjust the max-width as needed */
  margin-top: 1rem;
  font-size: 1rem;
}

.contact-section-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  align-items: center; /* Align items to the top */
  gap: 2rem; /* Adjust the gap between elements */
}

/* Contact Form Styles */
.contact-form {
  width: 100%;
  max-width: 350px; /* Adjust the max-width as needed */
  padding: 2rem;
  border: 0.5px solid #ccc;
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  margin-top: 2rem; /* Add margin to separate from contact details */
  background-color: white;
}

.contact-form h2 {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 2rem;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  border-radius: 20px;
  font-size: 1rem;
}

.form-group textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  font-size: 1rem;
  resize: vertical;
}

/* Contact Info Icons */
.contact-info-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.contact-info img {
  width: 24px; /* Adjust the image size as needed */
  margin-bottom: 0.5rem; /* Add spacing between icon and text */
}

/* Media Query for Larger Devices */
@media (max-width: 768px) {
  .contact-section-bottom {
    flex-direction: row; /* Display elements in a row for larger screens */
    justify-content: space-between; /* Add space between form and contact details */
  }
  .map{
    display: none;
  }

  .contact-form {
    margin-left: 1rem; /* Add spacing between form and contact details */
  }
}
