/* Import the "Inter" font CSS */
@import url('https://fonts.googleapis.com/css?family=Inter');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif !important;
  
}
img {
  max-width: 100%;
  height: auto;
  margin-right: 100px;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  
}
.app-container {
  min-height: 100vh;
  max-width: 1900px;
  margin: 0rem auto;
  width: 100%; /* Take up the full width of its parent */
  overflow-x: hidden;
}


body {
  background-color: #f6f6f6;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
}
.navbar-menu-container {
  display: none;
}
.navbar-links-container a {
  margin-left: 3rem;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}
.primary-button {
  padding: 0.9rem 1.75rem;
  background-color: white;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}
.nav-icon {
  max-width: 50px; /* Adjust the maximum width as needed */
  max-height: 50px; /* Adjust the maximum height as needed */
  padding-right: 10px;
  margin-right: 20px; 
}
.primary-button:hover {
  background-color: rgb(234, 234, 234);
}
.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}
.home-banner-container {
  position: relative;
  display: flex;
 
}
.home-bannerImage-container {
  position: absolute;
  top: -200px;
  left: 0; /* Ensure it starts from the left edge of the container */
  right: 0;
  z-index: -2;
  justify-content:center ;
  width: 100%; /* Make the background image full width */
  animation: slideIn 1.5s ease;
}
.mobile-bannerImage-container{
  display: none;
}
.home-image-section {
  max-width: 600px;
  flex: 1;
}
.home-text-section {
  flex: 12;
  display: flex;
  padding-top: 50px;
  text-align: center;
  flex-direction: column;
  margin-left: 80px;
  justify-content: center;
  align-items: center;
}

.primary-heading {
  font-size: clamp(2rem, 4vw, 4rem);
  color: white;
  /* line-height: 5rem; */
  max-width: 600px;
  margin-left: 10px;
  animation: fadeInSlideUp 1.5s ease ;
}
.primary-text {
  font-size: clamp(1rem, 3vw, 1.4rem);
  max-width: 500px;
  color: #6a6a6a;
  margin: 1.5rem 0rem;
  animation: fadeInSlideUp 1.5s ease;
}
.secondary-button {
  padding: 1rem 2.5rem;
  background-color: #1d88cf;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: enlargeAndFadeIn 1s ease 1s; /* 1s duration with 1s delay (starts after the image animation) */
  animation-fill-mode: both; 
}
.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}
.secondary-button:hover {
  background-color: #b60f92;
}



/*....................*/

/* partner section */
.partner-section-wrapper {
  margin-top: 10rem;
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center; /* Center vertically */

}
.partner-section-top p {
  text-align: center;
  max-width: 600px !important;
}
.partner-section-bottom {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px !important;
}
.partner-section-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.partner-img-container {
  max-width: 250px;
  width: auto;
  height: 120px; /* Set the desired width */
  margin: 1px; /* Add margin for spacing between images (adjust as needed) */
  border: 1px solid #ccc; /* Add a border to the container */
  display: inline-block; /* Make containers inline so they are closely grouped */
  text-align: center; /* Center the image horizontally within the container */
}
.partner-img {
  margin-top: 10px;
  margin-left: 5px;
  max-width: 90%; /* Make the image take its full width */
  max-height: 100%; /* Ensure the image does not exceed the container height */
  height: auto; /* Maintain the image's aspect ratio */
}


@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }
  .primary-button {
    font-size: 1rem;
  }
  .home-bannerImage-container {
    display: none;
  }
}
@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 140px;
  }
  .navbar-links-container {
    display: none;
  }
  .nav-media-icons{
    display: none;
  }
  .navbar-menu-container {
    display: flex;
  }
  .home-bannerImage-container {
    display: none;
  }
  .home-banner-container,
  .about-section-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .about-section-container {
    flex-direction: column;
  }
  .home-image-section,
  .about-section-image-container {
    width: 100%;
    max-width: 400px;
  }
  .primary-heading {
    text-align: center;
    max-width: 90%;
  }
  .primary-text {
    text-align: center;
    max-width: 80%;
  }
  .home-text-section,
  .about-section-text-container {
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }
  .secondary-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
  }
  /* .about-section-container {
    margin-top: 5rem !important;
  }
  .about-buttons-container {
    justify-content: center;
    flex-direction: column;
  } */
  /* .primary-subheading {
    text-align: center;
  }
  .watch-video-button {
    margin-left: 0rem !important;
    margin-top: 1rem;
    font-size: 1rem !important;
  } */
  /* .watch-video-button svg {
    margin-right: 0.5rem !important;
  } */
  /* .about-section-image-container {
    margin-right: 0rem !important;
  } */
  .feature-section-wrapper {
    margin-top: 5rem !important;
  }
  .feature-section-bottom {
    margin-top: 1rem !important;
  }
  /* .contact-form-container {
    padding: 0.5rem !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem !important;
  }
  .contact-form-container input {
    font-size: 1rem !important;
    max-width: 100%;
    padding: 0.5rem 1rem !important;
    margin-bottom: 0.8rem !important;
    text-align: center;
  } */
  /* .footer-wrapper {
    flex-direction: column;
  }
  .footer-section-two {
    flex-direction: column;
    margin-top: 2rem;
  }
  .footer-section-columns {
    margin: 1rem 0rem;
  } */
  .App {
    max-width: 95vw;
  }
}
@media (max-width: 600px) {
 
  .about-background-image-container {
    display: none;
  }
  .mobile-bannerImage-container{
    position:absolute;
    display: flex;
   top: -150px;
    z-index: -2;
    width: 100vw;
    animation: slideIn 1.5s ease;
  }
  .feature-section-wrapper {
    margin-top: 20rem !important;
  }

  .video-screen {
    height: auto;
    position: relative;
  }
  .home-text-section {
    margin-left: 5px;
  }
}
@keyframes slideIn {
  from {
    transform: translateY(-100%); /* Start off the screen above */
  }
  to {
    transform: translateY(0); /* End at its original position */
  }
}
@keyframes fadeInSlideUp {
  0% {
    opacity: 0; /* Start with opacity 0 (fully transparent) */
    transform: translateY(20px); /* Start 20px below its original position */
  }
  100% {
    opacity: 1; /* End with opacity 1 (fully visible) */
    transform: translateY(0); /* End at its original position */
  }
}
@keyframes enlargeAndFadeIn {
  from {
    opacity: 0; /* Start with opacity 0 (fully transparent) */
    transform: scale(0.8); /* Start at 80% of its original size */
  }
  to {
    opacity: 1; /* End with opacity 1 (fully visible) */
    transform: scale(1); /* End at its original size */
  }
}